.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.nav {
  display: flex;
  align-items: center;
}
.ul {
  width: 100%;
  display: flex;
  gap: 12px;
}
/* svg {
  width: 24px;
  height: 24px;
  fill: #818992;
} */
