.footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.contactForm {
  margin-bottom: 20px;
}

.h3 {
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 20px;
}

.contactForm form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contactForm input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.contactForm button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.footerText {
  font-size: 1rem;
  margin: 20px;
}
