body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 本文 */

.articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.article-image {
  width: 100px;
  height: 100px;
  background-color: #ccc;
}

.article-text h4 {
  margin: 0;
  font-size: 1rem;
}

.article-text p {
  margin: 0;
  font-size: 0.9rem;
}
